table {
  width: 50%;
}
h1
{
  font-size: 32px;
  color: forestgreen;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  text-align:center;
  display:block;
  margin:16px;
}
