<p xmlns="http://www.w3.org/1999/html"></p>
<h1>Ajout de Friends </h1>
<div class="mat-elevation-z8">
<nav class="narbar">
  <input class="form-control" type="text" name="userName" [(ngModel)]="userName"(ngModelChange)="Search()" placeholder="Enter First name to search">
</nav>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="pseudo">

      <mat-header-cell *matHeaderCellDef> PSEUDO</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.pseudo}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="ADD">
      <mat-header-cell *matHeaderCellDef> ADD </mat-header-cell>
      <mat-cell *matCellDef="let user"> <button mat-raised-button color="primary" (click)="addFriend()">ADD</button> </mat-cell>
      </ng-container>
    <ng-container matColumnDef="DELETE">
      <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
       <mat-cell *matCellDef="let user "> <button mat-raised-button color="primary" (click)="deleteFriend()">Delete</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColums"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColums"></mat-row>

  </mat-table>

    </div>

