<div class="container">
  <h1 style="font-size: 30px; text-align: center">Login Form </h1>
  <form (ngSubmit)="login()" name="form">
    <label>Username: </label>

    <label>
      <input type="text" name="username" #uname="ngModel"
             [placeholder]="pseudo"
             [(ngModel)]="user.userName" required />
    </label>

    <br/><br/>
    <ng-container *ngIf="uname.touched && uname.invalid">
      <p [ngStyle]="{'color': check}">Username is missing</p>
    </ng-container>

    <br>
    <p>
      Choose your Match Method
    </p>

    <br>
    <ng-select [multiple]="false"
               [(ngModel)]="selectedMethods"
               [items]="matchMethods"
               [ngModelOptions]="{standalone: true}"
               bindLabel="name"
               bindValue="id">

    </ng-select>

    <div style="margin-left:36%; margin-top: 5%">
      <button [disabled]="!form.valid" class="k-button k-primary" type="submit" style="width:20%;">Go</button>
      <div (click)="refresh()" class="k-button" style="width:20%;">Reset</div>
    </div>
  </form>
  <div *ngIf="resMatch">
    <app-match-res [dataSource]="resMatch"></app-match-res>
  </div>
</div>
