<!-- header -->
<div class="navbar is-dark">
  <div class="navbar-brand">
    <img class="logo" src="assets/pic/logo.png" alt="Smart Mapper Logo">
    <a class="navbar-item"></a>
  </div>

  <div class="navbar-menu ">
    <div class="navbar-end">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">Home</a>
        <a class="navbar-item" routerLink="/login">LogIn</a>
        <a class="navbar-item" routerLink="/signin">SignIn</a>

      </div>
    </div>
  </div>
</div>
