<!-- header -->
<div class="navbar is-dark">
  <div class="navbar-brand">
    <img class="logo" src="assets/pic/logo.png" alt="AffinityNow Logo">

  </div>

  <div class="navbar-menu ">
    <div class="navbar-end">
      <div class="navbar-start">
        <a href="#" class="button is-white is-rounded is-outlined navbar-item" routerLink="/">Home&ensp;<i class="fad fa-chevron-right"></i></a>
        <a href="#" class="button is-white is-rounded is-outlined navbar-item" routerLink="/login">Log In&ensp;<i class="fad fa-chevron-right"></i></a>
        <a href="#" class="button is-white is-rounded is-outlined navbar-item" routerLink="/signup">Sign Up&ensp;<i class="fad fa-chevron-right"></i></a>
        <a href="#" class="button is-white is-rounded is-outlined navbar-item" routerLink="/listeMatch">List&ensp;<i class="fad fa-chevron-right"></i></a>

      </div>
    </div>
  </div>
</div>
