<!-- header -->
  <div class="navbar-end">
    <div class="navbar-start">
    <a href="#" class="navbar-item" routerLink="/"><img class src="assets/pic/logo.png" alt="AffinityNow Logo"></a>
    <a class="navbar-item">See our Github</a>
    <a class="navbar-item">Contact Us</a>
    </div>
    <div class="navbar-item">
      <div class="buttons">
        <a href="#" class="button is-rounded is-dark" routerLink="/">Home</a>
        <a href="#" class="button is-rounded is-dark" routerLink="/listeMatch">List</a>
        <a href="#" class="button is-rounded is-dark" routerLink="/signup">Sign Up</a>
        <a href="#" class="button is-rounded is-dark" routerLink="/matchOption">Log In</a>
      </div>
    </div>
  </div>

