.registration {
  text-align: center;
}

.k-form {
  padding: 5%;
  width: 240px;
  margin-left:3%;
}

p {
  font-family: Lato, serif;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

li {
  float: left;
}

.k-button {
  width: 15%;
}

.toast-top-center {
  top: 12px;
  margin: 0 auto;
}

;

.k-grid {
  font-size: 12px;
}

.loginForm{
  height: 50px !important;
  width: 30% !important;
}

.topicForm{
  margin-top: 3%;
}
