<div class="registration">
  <form class="k-form" [formGroup]="form">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend" style="font-size : 1.5em">Create your profil</legend>
      <kendo-formfield>
        <kendo-label [for]="username" text="Username" style="font-size : 1.5em"></kendo-label>
        <kendo-textbox class=loginForm formControlName="username"
                       [(value)]="user.userName"
                       pattern="[a-zA-Z]+" data-pattern-msg="Only characters allowed"
                       [clearButton]="true"
                       [placeholder]="'Your username'"
                       #username required>
        </kendo-textbox>
        <kendo-formerror>Error: Username is required</kendo-formerror>
      </kendo-formfield>

      <kendo-grid class=topicForm
                  [kendoGridBinding]="user.topics"
                  [pageSize]="5"
                  [sortable]="true"
                  [pageable]="true"
                  filterable="menu"
      >
        <kendo-grid-column field="topic.name"
                           title="Our Topics"
                           [width]="600"
                           [headerStyle]="{'font-size' : '1.5em'}"
        ></kendo-grid-column>

        <kendo-grid-column field="LakedItem.name"
                           title="Mark out your favorite ones"
                           [width]="600"
                           [headerStyle]="{'font-size' : '1.5em'}"
                           [filterable]="false">

          <ng-template kendoGridCellTemplate let-dataItem1 let-rowIndex="rowIndex">
            <kendo-combobox [data]="ratings"
                            #score required
                            [textField]="'name'"
                            [valueField]="'score'"
                            [(value)]="dataItem1.rate"
                            [placeholder]="'Select a Mark...'">
            </kendo-combobox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="SeekedItem.name"
                           title="Mark out your seeked ones"
                           [width]="600"
                           [headerStyle]="{'font-size' : '1.5em'}"
                           [filterable]="false">

          <ng-template kendoGridCellTemplate let-dataItem2 let-rowIndex="rowIndex">
            <kendo-combobox [data]="ratings"
                            #score required
                            [textField]="'name'"
                            [valueField]="'score'"
                            [(value)]="dataItem2.rate"
                            [placeholder]="'Select a Mark...'">
            </kendo-combobox>
          </ng-template>
        </kendo-grid-column>

      </kendo-grid>

      <div class="k-form-buttons" style="margin-left:36%;">
        <button [disabled]="!form.valid" class="k-button k-primary" (click)="sign_up()">Sign Up</button>
        <button class="k-button" (click)="clearForm()">Reset</button>
      </div>
    </fieldset>
  </form>
</div>


