<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
<section class="hero container is-info is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Affinity Now
        </h1>
        <h2 class="subtitle">
          A perfect algorithm of matching who helps you to find new people to connect and discover new topics and subject ..
        </h2>
        <button class="button is-rounded is-dark"><strong>Discover Us</strong></button>

      </div>
    </div>
  </div>
</section>

<script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>