html{
  overflow-y: hidden;
}
body{
  background-image: url('/assets/pic/home.jpg') !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1,h2{
  color: aliceblue;
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero{
   display: flow-root!important;
}



